.technologies__list {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.technologies__card {
	padding: 28px 0px;
	display: grid;
	grid-template-columns: 300px 1fr;
	align-items: center;
	border-top: 1px solid #676767;
	width: 100%;
}
.technologies__card:last-child {
	border-bottom: 1px solid #676767;
}

@media (min-width: 768px) and (max-width: 1199px) {
	.technologies__card {
		grid-template-columns: 220px 1fr;
	}
}

@media (max-width: 767px) {
	.technologies__card {
		grid-template-columns: 1fr;
		gap: 8px;
		padding: 22px 0;
	}
}
